<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Timesheets</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    replace navbar view here

    <h1>Timesheets</h1>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Date</th>
            <th>Employee Name</th>
            <th>Clock In</th>
            <th>Clock Out</th>
            <th>Break In</th>
            <th>Break Out</th>
            <th>Total Hours</th>
            <th>Total Break</th>
            <th>Notes</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="timesheet : ${timesheets}">
            <td th:text="${timesheet.getDate()}"></td>

            <td th:text="${timesheet.getUsers().getFullName()}"></td>


            <td th:text="${timesheet.getClockIn()}"></td>
            <td th:text="${timesheet.getClockOut()}"></td>
<!--            <td th:text="${timesheet.getBreakIn()()}"></td>-->
<!--            <td th:text="${timesheet.getBreakOut()}"></td>-->
            <td th:text="${timesheet.getTotalHours()}"></td>
            <td th:text="${timesheet.getTotalBreak()}"></td>
            <td></td>
            <td></td>
            <td th:text="${timesheet.getNote()}"></td>



        </tr>
        </tbody>
    </table>
</div>
</body>
</html>